/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.body{
    /* background-image: url(./images/background); */
    background-color: #f5cccc;
    
    
    
}

.title{
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 50%;
    font-size: 24px;
    font-family: Berkshire+Swash;
   
}

.image{
    width: 30%;
    height: 5%;
    place-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.imgs{
    width: 30%;
    height: 40%;
    place-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.content{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-family: sans-serif;

}
h3{
    padding-left: 50px;
    padding-right: 50px;
    font-family: sans-serif;
}

h4{
    padding-left: 100px;
    padding-right: 50px;
    font-family: sans-serif;
}

.list1{
    padding-left: 200px;
    padding-right: 50px;
    font-family: sans-serif;
    font-size: large;
    list-style-type: circle;

}

.list2{
    padding-left: 200px;
    padding-right: 50px;
    font-family: sans-serif;
    font-size: large;
    list-style-type: circle;
}

.par{
    font-size: large;
    text-align: justify;
    font-family: sans-serif;
    
    padding-left: 70px;
    padding-right: 50px;
    padding-top: -2px;
    padding-bottom: 40px;
}
.footer{
    margin-top:40px;
    padding: 10px;
    background-color: #ddadad;
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;
    text-decoration: underline;
  }
  
