.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #f8f8f8;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-item{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
  }

  .nav-item:hover{
    background-color: rgb(247, 241, 253);
  }

  .navbar .nav-item .logo{
    width: 60px;
    height: 60px;
    
  }

