.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  }
  
  .recipie {
    display: flex; /* Display the children in a horizontal row */
    justify-content: center; /* Center the children horizontally */
    flex-wrap: wrap; /* Wrap the children to the next line if necessary */
  }
  
  .recipie .centered-div {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(122, 122, 122);
    margin: 100px 30px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  



  .centered-div{
    height: 300px;
    margin: 100px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;

 }

  .recipie .imgs1{
    height: 300px;
    width: 200px;
    border-radius: 10px;
 }

.intro{
  height: 70px;
  width: 200px; 
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom :130px;
  background: rgb(27,27, 27, 0.6);
  color: rgb(0, 0, 0);
  transition: 0.5s;

 }

 .int1 {
  margin: 5px;
  font-size: 30px;
  color: white;
  
}
  
.nav-item-2{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

 
  .int2 {
    margin: 5px;
    font-size: 15px;  
    visibility: hidden;
    opacity: 0;
    color: white; 
   }

  

  .centered-div:hover{
    cursor: pointer;
 }

.centered-div:hover .intro {
    height: 200px;
    bottom: 200px;
    background: black;
    opacity: .7;

 }

.centered-div:hover p{
  opacity: 1;
  visibility: visible;
 }

.centered-div:hover img{
    transform: scale(1.1) rotate(-1deg);
 }

 
.logimg{
  background-image: url(./images/back.jpg);
  /* position: absolute; */
  background-size:cover;
  display: flex;
  position:absolute;
  background-repeat: no-repeat;
  top: 70px;
  width: 98.5vw;
  height: 95vh;
  opacity: 0.1;
  
  border: 2px solid rgb(0, 0, 0);
} 
